div#top {
width: auto;
height: 70px;
background: transparent url(/static/img/top-big.png) top left repeat-x;
color:white;
text-align: center;
padding:5px;
}
h3 {
	padding:0px;
	margin:0px;
	display:inline;
}
h2{
	display:inline;	
}
h1 {
	font-size: 52pt;
	display:inline;
}


.padded_row {
	border-style:solid;
	border-color:#CCCCCC;
	border-width:0px;
	border-bottom-width:1px;
	padding-bottom:10px;
	padding-top:10px;
}
.vote_margin {
	margin-bottom: 1px;
}

/* ----------- start twitter bar hacking ------------- */
.twtr-doc{
	float:right;
}
.import_button {
	margin-right:10px;
	float:right;
}
.twtr-tweet {
	padding-bottom:40px;
}
/* ----------- end twitter bar hacking ------------- */

.add_button {
	vertical-align: bottom;
	margin:10px;
	padding:8px;
	font-size: 18pt;
	float:right;
}
.bigger_button {
	padding:5px;
	font-size: 14pt;
	margin-right:30px;
	float:right;
}
.main_message_input {
	width: 700px;
	font-size: 18pt;
	font-family: Arial;
}