{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class='row'>
                <form class="well form-search" action='add/' method='POST' id='add_form'>
                  {% csrf_token %}
                  <textarea type="text" name="main_message_input" id="main_message_input" class="main_message_input" rows="3"> </textarea>
                  <button type="submit" class="btn btn-primary add_button">Add Message</button>
                </form>
            </div>
        </div>
    </div>

{% if latest_msgs %}
    <div class='row-fluid'>
        <div class="span9">
            {% for m in latest_msgs %}
            	<div class='row'>
            		<div class='span9 message_row'>
               		<h2 href="/messages/{{ m.id }}/">{{ m.text }}</h2>
          				<h4> {{m.date_added|date:"D d M Y c"}} </h4>
            		</div>
                <div class='span3'>
                  <form action="/messages/{{ m.id }}/vote/" method="post" class='vote_margin'>
                    {% csrf_token %}
                    <h3>{{m.votes}} vote{{m.votes|pluralize }} 
                    </h3>
                    <input type="submit" value=" +1 " class='btn btn-primary bigger_button' />
                  </form>
                  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="{{m.text}}">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
<!--             		<div class='span3'>
                  <a name="fb_share">Facebook Share</a> 
                  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
                  </script>
            		</div>
 -->              </div>
            {% endfor %}
        </div>
        <div class="span3">
            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script float='right'>
                new TWTR.Widget({
                  version: 2,
                  type: 'search',
                  search: '#happy',
                  interval: 30000,
                  title: '#happy Twitter',
                  subject: 'Any tweets make you happy?',
                  width: 250,
                  height: 500,
                  theme: {
                    shell: {
                      background: '#8ec1da',
                      color: '#ffffff'
                    },
                    tweets: {
                      background: '#ffffff',
                      color: '#444444',
                      links: '#1985b5'
                    }
                  },
                  features: {
                    scrollbar: false,
                    loop: true,
                    live: true,
                    behavior: 'default'
                  }
                }).render().start();
            </script>
        </div>
    </div>

    <script>
        var count = 1;
        function check_for_tweets_append_button() {
            var twit = document.getElementById('tweet-id-'+count);
            console.log('going '+'tweet-id-'+count);

            if (twit) {
                import_link = document.createElement('button');
                import_link.setAttribute('class', 'btn btn-primary  import_button');
                import_link.setAttribute('onclick','javascript:click_tweet('+count+')')
                newContent = document.createTextNode(" << import this tweet <<");
                import_link.appendChild(newContent)                
                twit.appendChild(import_link);
                count++
            }

            setTimeout('check_for_tweets_append_button()', 1000);
        }
        function click_tweet(num) {
            var twit = document.getElementById('tweet-id-'+num);
            var child1 = get_child(twit, 'twtr-tweet-wrap');
            var child2 = get_child(child1, 'twtr-tweet-text');
            var raw_text = collect_text(child2);
            document.getElementById('main_message_input').value = $.trim(raw_text);
            //document.getElementById('add_form').submit();
        }

        function get_child(parent, child_class) {
          for(var i = 0; i < parent.childNodes.length; i++) {
            var t1_node = parent.childNodes[i];
            if (t1_node.hasAttribute && t1_node.getAttribute('class') == child_class) {
              return t1_node;
            }
          }
          return null
        }

        function collect_text(node) {
          result = "";
          for(var i = 0; i < node.childNodes.length; i++) {
            var node2 = node.childNodes[i];
            for(var j = 0; j < node2.childNodes.length; j++) {
              var node3 = node2.childNodes[j];
              if (node3.nodeType == 3) {
                result += node3.nodeValue;
              } else if (node3.nodeName != 'EM') {
                result += node3.innerText;
              }
            }
          }
          return result;
        }

        check_for_tweets_append_button();
    </script>
{% else %}
    <p>No Messages are available.</p>
{% endif %}

{% endblock %}
