{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class='row'>
                <form class="well form-search" action='add/' method='POST' id='add_form'>
                  {% csrf_token %}
                  <textarea type="text" name="main_message_input" id="main_message_input" class="main_message_input" rows="3"> </textarea>
                  <button type="submit" class="btn btn-primary add_button" 
                  onclick="_gaq.push(['_trackEvent', 'add_button', 'clicked'])">Add Message</button>
                </form>
            </div>
        </div>
    </div>

{% if latest_msgs %}
    <div class='row-fluid'>
        <div class="span9">
            <div class='span12 padded_row'>
            </div>
            {% for m in latest_msgs %}
            	<div class='span12 padded_row'>
                
            		<div class='span9 message_row'>
               		<h2 href="/messages/{{ m.id }}/">{{ m.text }}</h2>
          				<h4> {{m.date_added|date:"D d M Y H:i:s"}} </h4>
            		</div>
                <div class='span3'>
                  <form action="/{{ m.id }}/vote/" method="post" class='vote_margin'>
                    {% csrf_token %}
                    <h3>{{m.votes}} vote{{m.votes|pluralize }} 
                    </h3>
                    {% if m.id in votes %}
                      <input type="submit" value=" +1 " class='btn btn-primary bigger_button' disabled='true'/>
                    {% else %}
                      <input type="submit" value=" +1 " class='btn btn-primary bigger_button' 
                      onclick="_gaq.push(['_trackEvent', 'vote_button', 'clicked'])" />
                    {% endif %}
                  </form>
                  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="@H_L_M_ {{m.text}}">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
              </div>
            {% endfor %}
        </div>
         <div class="span3" style='position:relative'>
            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script float='right'>
                new TWTR.Widget({
                  version: 2,
                  type: 'search',
                  search: '#happy',
                  interval: 30000,
                  title: '#happy Twitter',
                  subject: 'Any tweets make you happy?',
                  width: 250,
                  height: 500,
                  theme: {
                    shell: {
                      background: '#8ec1da',
                      color: '#ffffff'
                    },
                    tweets: {
                      background: '#ffffff',
                      color: '#444444',
                      links: '#1985b5'
                    }
                  },
                  features: {
                    scrollbar: false,
                    loop: true,
                    live: true,
                    behavior: 'default'
                  }
                }).render().start();
            </script>
        </div> 
    </div>

{% else %}
    <p>No Messages are available.</p>
{% endif %}

{% endblock %}

{% block js %}
    <script>
        // Add our import button
        var count = 1;
        function check_for_tweets_append_button() {
            var twit = document.getElementById('tweet-id-'+count);
            //console.log('checking for '+'tweet-id-'+count);

            if (twit) {
                import_link = document.createElement('button');
                import_link.setAttribute('class', 'btn btn-primary  import_button');
                import_link.setAttribute('onclick','javascript:click_tweet('+count+')')
                newContent = document.createTextNode(" << import this tweet <<");
                import_link.appendChild(newContent)                
                twit.appendChild(import_link);
                count++
            }

            setTimeout('check_for_tweets_append_button()', 2000);
        }

        // To import the tweet to our system
        function click_tweet(num) {
            var twit = document.getElementById('tweet-id-'+num);
            var child1 = get_child(twit, 'twtr-tweet-wrap');
            var child2 = get_child(child1, 'twtr-tweet-text');
            var raw_text = collect_text(child2);
            document.getElementById('main_message_input').value = $.trim(raw_text);
        }

        function get_child(parent, child_class) {
          for(var i = 0; i < parent.childNodes.length; i++) {
            var t1_node = parent.childNodes[i];
            if (t1_node.hasAttribute && t1_node.getAttribute('class') == child_class) {
              return t1_node;
            }
          }
          return null
        }

        function collect_text(node) {
          result = "";
          for(var i = 0; i < node.childNodes.length; i++) {
            var node2 = node.childNodes[i];
            for(var j = 0; j < node2.childNodes.length; j++) {
              var node3 = node2.childNodes[j];
              if (node3.nodeType == 3) {
                result += node3.nodeValue;
              } else if (node3.nodeName != 'EM') {
                result += node3.innerText;
              }
            }
          }
          return result;
        }

        var doc = document.documentElement;
        var body = document.body;

        // Scroll to where we were on the page before the page refresh
        function scrolled_to_bottom() {
          var totalHeight, currentScroll, visibleHeight;
          
          if (doc.scrollTop) { 
            currentScroll = doc.scrollTop; 
          } else { 
            currentScroll = body.scrollTop; 
          }
          
          totalHeight = body.offsetHeight;
          visibleHeight = doc.clientHeight;
          
          if (totalHeight <= currentScroll + visibleHeight ) {
            return true
          }
          return false
        }

        window.scrollTo(0, {{scroll_top}})

        // If we were already scrolled to the bottom - we would enter permenant refresh
        if (!scrolled_to_bottom()) {
          // Periodically check to see if window has scrolled to bottom
          var refresh_id = setInterval(function(){         
            console.log('check for bottom')
            if (scrolled_to_bottom()) {
              // Get how far down the window has been scrolled
              var scroll_top = (doc && doc.scrollTop  || body && body.scrollTop  || 0);
              window.location='?pages={{page_to_load}}&scroll_top='+scroll_top
            }
          }, 500);
        }

        check_for_tweets_append_button();
    </script>

{% endblock %}